grafico_estandar_sexo_total_dosis

grafico_estandar_grupo_etario_total_dosis

grafico_estandar_condicion_aplicacion_total_dosis.png

grafico_estandar_jurisdiccion_aplicacion_total_dosis.png

jurisdicciones_residencia_v_aplicacion1.png

jurisdicciones_residencia_v_aplicacion2.png
