dosis_personas_sexo.png
grafico_estandar_condicion_aplicacion_mean_dosis.png
grafico_estandar_condicion_aplicacion_total_dosis.png 
grafico_estandar_grupo_etario_mean_dosis.png
grafico_estandar_grupo_etario_total_dosis.png 
grafico_estandar_jurisdiccion_aplicacion_mean_dosis.png
grafico_estandar_jurisdiccion_aplicacion_total_dosis.png 
grafico_estandar_sexo_mean_dosis.png
grafico_estandar_sexo_total_dosis.png 
grafico_estandar_vacuna_mean_dosis.png 
grafico_estandar_vacuna_total_dosis.png 
jurisdicciones_residencia_v_aplicacion1.png
jurisdicciones_residencia_v_aplicacion2.png 
ls_timvar_anio.png
ls_timvar_anio_mes.png 
ls_timvar_anio_semana.png
ls_timvar_dia.png
ls_timvar_mes.png
ls_timvar_meses_2022.png
piramide_poblacional_sexo_grupo_etario.png
prop_sexo_dosis.png
